<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<body>

<div th:insert="navbar :: navbar">  </div>

<form th:action="@{/artists/}" method="post">
    <input name="id" type="hidden" th:field="${artist.id}"/>
    <input name="id" type="hidden" th:field="${address.id}"/>
    <div class="container">

        <div class="panel panel-primary">

            <div class="panel-heading">
                <h1 class="panel-title text-center">Add / Edit Artist</h1>
            </div>
            <br>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-3" style="text-align:center">
                        <h3>Personal details</h3>
                    </div>
                    <div class="col-md-3" style="margin-left: 60px; text-align:center">
                        <h3>Address</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>CNP:</label>
                        <input type="text" name="cnp" class="form-control" th:value="${artist.cnp}" placeholder="CNP"/>
                        <label th:if="${#fields.hasErrors('artist.cnp')}" th:errors="${artist.cnp}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                        <label th:if="${error_cnp} != null" class="error text-danger"
                               th:text="${error_cnp}"></label>
                    </div>

                    <div class="col-md-3" style="margin-left: 60px">
                        <label>Street:</label>
                        <input type="text" name="street" class="form-control" th:field="${address.street}"
                               placeholder="Street"/>
                        <label th:if="${#fields.hasErrors('address.street')}" th:errors="${address.street}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Last name:</label>
                        <input type="text" name="lastName" class="form-control" th:field="${artist.lastName}"
                               placeholder="Last name"/>
                        <label th:if="${#fields.hasErrors('artist.lastName')}" th:errors="${artist.lastName}"
                               type="error"
                               class="error text-danger">
                            Error
                        </label>
                    </div>

                    <div class="col-md-3" style="margin-left: 60px">
                        <label>Number:</label>
                        <input type="number" name="no" min="1" class="form-control" th:value="${address.no}"
                               placeholder="Number"/>
                        <label th:if="${#fields.hasErrors('artist.address.no')}" th:errors="${address.no}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>First name:</label>
                        <input type="text" name="firstName" class="form-control" th:field="${artist.firstName}"
                               placeholder="First name"/>
                        <label th:if="${#fields.hasErrors('artist.firstName')}" th:errors="${artist.firstName}"
                               type="error"
                               class="error text-danger">
                            Error
                        </label>
                    </div>

                    <div class="col-md-3" style="margin-left: 60px">
                        <label>City:</label>
                        <input type="text" name="city" class="form-control" th:field="${address.city}"
                               placeholder="City"/>
                        <label th:if="${#fields.hasErrors('address.city')}" th:errors="${address.city}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                    </div>
                </div>

                <div class="form-group col-md-3" style="margin-top: 30px">
                    <label class="col-form-label">Record Label</label>
                    <select class="form-control" th:field="*{artist.recordLabel.id}">
                        <option th:each="rec : ${recordLabelsAll}"
                                th:value="${rec.id}"
                                th:utext="${rec.name}">
                        </option>
                    </select>
                </div>

                <div class="row">
                    <div class="col-md-12 ml-md-auto" style="margin-top:10px">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>