<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<body>

<div th:insert="navbar :: navbar"></div>

<div class="container">

    <div class="panel panel-primary">

        <div class="panel-heading" style="background-color:lightgray;">
            <h1 class="panel-title">Details</h1>
        </div>

        <br>

        <div class="panel-body">

            <div class="container">

                <div class="row">
                    <div class="col-md-2" style="text-align:center">
                        <h3>Personal details</h3>
                    </div>

                    <div class="col-md-3" style="text-align:center">
                        <h3>Address</h3>
                    </div>

                    <div class="col-md-7" style="text-align:center">
                        <h3>Consults</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-2">

                        <div>
                            <label>CNP:</label>
                            <input type="text" disabled class="form-control" th:field="${artist.cnp}"/>
                        </div>

                        <div style="margin-top: 15px">
                            <label>Last name:</label>
                            <input type="text" disabled class="form-control" th:field="${artist.lastName}"/>
                        </div>

                        <div style="margin-top: 15px">
                            <label>First name:</label>
                            <input type="text" disabled class="form-control" th:field="${artist.firstName}"/>
                        </div>

                    </div>

                    <div class="col col-md-3">

                        <div>
                            <label>Street:</label>
                            <input type="text" disabled class="form-control" th:field="${artist.address.street}"/>
                        </div>

                        <div style="margin-top: 15px">
                            <label>Number:</label>
                            <input type="number" disabled class="form-control" th:field="${artist.address.no}"/>
                        </div>

                        <div style="margin-top: 15px">
                            <label>City:</label>
                            <input type="text" disabled class="form-control" th:field="${artist.address.city}"/>
                        </div>

                    </div>

                    <div class="col col-md-7">
                        <table class="table table-striped table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Doctor</th>
                                <th>Record Label</th>
                                <th>Date</th>
                                <th>Details</th>
                                <th sec:authorize="hasRole('ADMIN')">Edit</th>
                                <th sec:authorize="hasRole('ADMIN')">Delete</th>
                            </tr>
                            </thead>
                            <tr th:each="consult: ${artist.consults}">

                                <td th:text="${consult.id}"></td>
                                <td th:text="|${consult.manager.lastName} ${consult.manager.firstName}|"></td>
                                <td th:text="${artist.recordLabel.name}"></td>
                                <td th:text="${T(com.example.project.service.Helper).formatDate(consult.date)}"></td>
                                <td>
                                    <a class="btn btn-secondary" href="#"
                                       th:href="@{'/consults/{id}'(id=${consult.id})}"
                                       role="button">
                                        Details
                                    </a>
                                </td>
                                <td sec:authorize="hasRole('ADMIN')">
                                    <a class="btn btn-secondary" href="#"
                                       th:href="@{'/consults/{id}/edit'(id=${consult.id})}"
                                       role="button">
                                        Edit
                                    </a>
                                </td>
                                <td sec:authorize="hasRole('ADMIN')">
                                    <form th:object="${artist}" th:action="@{'/consults/{id}/delete'(id=${consult.id})}"
                                          th:method="GET">
                                        <button class="btn btn-secondary">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label class="col-form-label">Record Label</label>
                        <input type="text" disabled class="form-control" th:field="${artist.recordLabel.name}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>